body{
    font-family: Arial;
    margin: 0;
    background-color: #f4f4f4;
}

/* About Section */
.about{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
}

.about-text{
    width: 60%;
    text-align: left;
}
.hero{
    height: 300px;
    background-color: #222;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero h1{
    font-size: 40px;
}

.hero button{
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #00adb5;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.about-image img{
    width: 220px;
    border-radius: 15px;
	box-shadow: 0 6px 20px
	rgba(0,0,0,0.3);
}
/* Navigation */

nav{
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 15px;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin-left: 20px;
	cursor: pointer
	
}
nav ul lil:hover{
	color:#00adb5;
}



/* Contact */

.contact{
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
}